.card {
  height: 25rem;
  width: 25rem;
  margin: 1.5rem;
  position: relative;  
  

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

    &--web {
      pointer-events: none;
    }
    &--mobile {
      // border: 1px solid black;
      color: #484F59;    
      text-transform: uppercase;
      padding: 0 1rem;
      pointer-events: auto;  
    }
  }

  &__side {
    position: absolute;
    height: 25rem;
    width: 25rem;
    text-align: center;    
    backface-visibility: hidden;
    transition: all .4s;
    border-radius: 1rem;
    box-shadow: 1.5rem 1.5rem 1.5rem #F0D2E1;    
    color: #484F59;
    

    &--front {
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;

      &-0 {
        background-color: $card-color-1;
                
      }

      &-1 {
        background-color: $card-color-2;        
      }

      &-2 {
        background-color: $card-color-3;
      }
    }

    &--back {
      background-color: white;
      transform: rotateY(180deg);
      display: flex;  
      flex-wrap: wrap;    

      &-0 {
        border: 2px solid $card-color-1;
      }

      &-1 {
        border: 2px solid $card-color-2;        
      }

      &-2 {
        border: 2px solid $card-color-3;        
      }
    }
  }

  &:active &__side--front {
    transform: rotateY(-180deg);
  }

  &:active &__side--back {
      transform: rotateY(0);
  }

  &__intro {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: center;
    padding: 0 10px;
  }

  &__tag {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
  }
  
}

@media (min-width: 768px) {
  .card {
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__link {
      &--web {
        pointer-events: auto;
      }

      &--mobile {
        pointer-events: none;
        height: 0;
        opacity: 0;
      }
    }
  }
}