.card {
  height: 35rem;
  width: 25rem;
  margin: 1.5rem;
  position: relative;  
  

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

    &--web {
      pointer-events: none;
    }

    &--mobile {
      color: $secondary-color;    
      text-transform: uppercase;
      font-size: 1.3rem;
      padding: 0 1rem;
      pointer-events: auto;  
    }
  }

  &__title {
    background-color: $white-1;
    color: $secondary-color;
    width: 100%;
    height: 25%;
    padding: 0 1.2rem;
    border-radius: 0 0 2px 2px;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid $secondary-color;
  }

  &__side {
    position: absolute;
    height: 35rem;
    width: 25rem;
    text-align: center;    
    backface-visibility: hidden;
    transition: all .4s;
    border-radius: 2px;
    // box-shadow: 1.5rem 1.5rem 1.5rem $secondary-color;    
    color: #484F59;
    box-shadow: 0 3px 6px rgba($secondary-color ,0.16), 0 3px 6px rgba($secondary-color,0.23);

    &--front {
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 2rem;
      font-weight: 600;
      // text-transform: uppercase;

      &-fr {
        // background-color: $card-color-1;
        background-image: url(../img/food-card.jpg);
        background-size: cover;
      }

      &-wpm {
        background-image: url(../img/wpm-card.jpg);
        background-size: cover;
      }

      &-fork {
        background-image: url(../img/fork-card.jpg);
        background-size: cover;
        background-position: center;
      }

      &-pg {
        background-image: url(../img/pg-card.jpg);
        background-size: cover;
        background-position: center;        
      }

      &-pb {
        background-image: url(../img/pb-card.jpg);
        background-size: cover;
        background-position: right;
      }

      &-tc {
        background-image: url(../img/tc-card.jpg);
        background-size: cover;
        // background-position: right;
      }

      &-flipped {
        transform: rotateY(-180deg); 
      }
    }

    &--back {
      background-color: white;
      transform: rotateY(180deg);
      display: flex;  
      flex-wrap: wrap;    

      &-flipped {
        transform: rotate(0); 
      }
    }
  }

  &:active &__side--front {
    transform: rotateY(-180deg);
  }

  &:active &__side--back {
    transform: rotateY(0);
  }

  &__intro {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: center;
    padding: 0 10px;
  }

  &__tag {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
  }
  
}

@media (min-width: 1024px) {
  .card {
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__title {
      height: 20%;
    }

    &__link {
      &--web {
        pointer-events: auto;
      }

      &--mobile {
        pointer-events: none;
        height: 0;
        opacity: 0;
      }
    }

    &__side {
      &--front {
        &-flipped {
          transform: rotateY(0) ;
        }
      }

      &--back {
        &-flipped {
          transform: rotateY(180deg);
        }
      }
    }
  }
}