.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  &__title {
    text-transform: uppercase;
    color: $secondary-color;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__container {
    width: 90%;
    padding-bottom: 1rem;
    margin-bottom: 0rem;

    &--btn {
      display: flex;
      justify-content: center;
    }
  }

  &__label {
    width: 100%;
    display: block;
    font-size: 1.2rem;
    color: $secondary-color;
    transition: all 1s;
    
  }

  &__input {
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    padding: 1.2rem;
    margin-top: .5rem;
    outline: none; 
    border: none;
    border-bottom: 2px solid $secondary-color;
    background-color: $tertiary-color;  
    transition: all 1s;

    &:focus {
      border-color: $secondary-color;
    }

    &:focus:invalid {
      border-color: red;
    }
  }

  &__input:placeholder-shown + &__label {
    display: none;
    transform: translateY(1rem);
  }

  &__text-area {
    margin-top: .5rem;    
    width: 100%;
    font-size: 1.6rem;
    padding: 1.2rem;
    border: none;
    outline: none;
    background-color: $tertiary-color;      
    border-bottom: 2px solid $secondary-color; 

    &:focus {
      border-color: $secondary-color;
    }
  }

  &__text-area:placeholder-shown + &__label {
    display: none;
    transform: translateY(1rem);
  }

  &__button {
    background-color: $secondary-color;
    padding: 0 1.6rem;
    height: 3.6rem;
    margin: 2rem 0;
    color: $white-1;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;

    &:focus {
      outline-color: $primary-color;
    }

    &:disabled {
      background-color: $gray-1;
      border: 1px solid $gray-1;
    }
  }

  &__message {
    margin: 2rem;
    text-align: center;
    background: $secondary-color;
    color: $white-1;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba($secondary-color ,0.16), 0 3px 6px rgba($secondary-color,0.23);    
  }
}

@media (min-width: 768px) {
  .form {
    &__container {
      width: 70%;
    }

    &__title {
      font-size: 4rem;
    }
  }

  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveIn .8s ease-in;
  }
}

@media (min-width: 1024px) {
  .form {
    &__container {
      width: 55%;
    }
  }
}

@media (min-width: 1440px) {
  .form {
    &__container {
      width: 45%;
    }
  }
}