body {
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary {
  color: $secondary-color;
  font-size: 2.7rem;
}

.heading-secondary {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.my-name {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: #FBF4D7;
  letter-spacing: 2rem;
}

@media (min-width: 768px) {
  .my-name {
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  .heading-primary {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .my-name {
    letter-spacing: 2rem;
  }
}