.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  } 
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }
}