.side-bar {
  background-image: linear-gradient(
    rgba($primary-color, 0.85),
    rgba($primary-color, 0.85)),
  url(../img/background-side.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  // background-color: $primary-color;
  height: 20vh;
  width: 100vw;

  &__list {
    list-style: none;
  }

  &__list-item {
    color: $white-1;    
    text-transform: uppercase;
    padding: 0 2rem;
  }

  &__icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__icon-item {
    color: $white-1;
    font-size: 2.4rem;
    margin: 0 1rem;
  }
}

@media (min-width: 768px) {
  .side-bar {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list {
      padding: 3rem 0;
      margin-bottom: 1rem;
      
    }

    &__list-item {
      display: inline-block;
      font-size: 2rem;
      font-weight: 500;

      &:link,
      &:visited {
        background-image: linear-gradient(60deg, transparent 0%, transparent 50%, $white-1 50%);
        background-size: 250%;
        transition: all .3s;          
      }

      &:hover,
      &:active {
          background-position: 100%;
          color: $primary-color;
          transform: translateX(1rem);
      }
    }

    &__item {
      padding: 1rem 0;
    }

    &__icons {
    }

    &__icon-item {
      font-size: 3.4rem;
      margin: 0 3rem;
      transition: all .3s;      

      &:hover,
      &:active {
        transform: translateY(-.5rem) translateX(.5rem);
      }
    }
  }
}