.side-bar {
  background-image: linear-gradient(
    rgba($primary-color, 0.85),
    rgba($primary-color, 0.85)),
  url(../img/background-side.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  // background-color: $primary-color;
  height: 20vh;
  width: 100vw;

  &__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &__icon-item {
    color: $tertiary-color;
    font-size: 2.4rem;
    margin: 0 1rem;
  }
}

@media (min-width: 375px) {
  .side-bar {
    height: 18vh;
  }
}

@media (min-width: 375px) {
  .side-bar {
    height: 15vh;
  }
}

@media (min-width: 768px) {
  .side-bar {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon-item {
      font-size: 3.4rem;
      margin: 0 3rem;
      transition: all .3s;      

      &:hover,
      &:active {
        transform: translateY(-.5rem) translateX(.5rem) scale(1.2);
      }
    }
  }
}